header .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

header .menu-element{
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%px;
}

main{
    height: 3750px;
}

main .aside{
    width: 90%;
    margin-left: 5%;
}

main article{
    width: 94%;
    margin-left: 3%;
}
