main{
    height: 3550px;
    margin-bottom: 0px;
}

.aside{
    display: flex;
    width: 80%;
}

main article{
    width: 90%;
    margin-left: 5%;
}

footer{
    height: 1380px;
    margin-top: 0px;
}